.movie-card {
  width: 180px;
  height: 300px;
  border-radius: 8px;
  background: rgb(253, 252, 252);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease;
  flex: 0 0 auto;
}

.movie-card:hover {
  transform: translateY(-10px);
  background: rgb(201, 199, 199);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.movie-poster-placeholder {
  height: 220px;
  background: #ddd;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rating {
  position: absolute;
  bottom: -12px;
  left: 9px;
  background: #c0d3e6;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 6px 6px;
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.movie-info {
  padding: 12px 10px;
  color: rgb(17, 17, 17);
}

.movie-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  /* text-overflow: ellipsis; */
  white-space: normal;
  text-wrap: balance;
}

.movie-date {
  font-size: 12px;
  color: gray;
}
